name: goreleaser

on:
  push:
    # not not consider simplec commit
    branches:
      - '!*'
    # consider only release and pre-release tags
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: recursive

      - name: set up go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: cache go modules
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: tests modules
        run: |
          go mod vendor
          if [ ! -z "$(git status --porcelain)" ]; then
            echo "::error::vendor directory if not synched with go.mod, please run go mod vendor"
            exit 1
          fi

          go mod tidy
          if [ ! -z "$(git status --porcelain)" ]; then
            echo "::error::modules are not tidy, please run go mod tidy"
            exit 1
          fi

      - name: Docker Login
        uses: docker/login-action@v1
        if: success() && startsWith(github.ref, 'refs/tags/v')
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        if: success() && startsWith(github.ref, 'refs/tags/v')
        with:
          version: latest
          args: release --rm-dist -p 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_TARGET: ${{ secrets.DOCKER_TARGET }}
          USER: github-actions
